DATABASE_URL=postgresql://YOUR_USERNAME@localhost:5432/shelternow_db
GEOCODING_BASE_URL=https://nominatim.openstreetmap.org/search
GEOCODING_USER_AGENT=YOUR_APP_NAME/0.1
ORS_API_KEY=YOUR_OPENROUTESERVICE_KEY
ORS_BASE_URL=https://api.openrouteservice.org
ALERTS_URL=https://www.oref.org.il/WarningMessages/alert/alerts.json
